vendor
composer.lock
/tests/report

##IDEs
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

#JS sections

/node_modules

##package managers
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
