flex-version = flex
support-for-ie = false
vendor-prefixes = official

#awes-app
    *
        box-sizing border-box

.grid__cell
    width 100%

.fb-keycode
    &__wrap
        display flex
        margin-left -5px
        margin-right -5px
    &__field-wrap
        padding-left 5px
        padding-right 5px
    &__field
        width 100%

.fb-input, .fb-textarea
    &__label
        display block
    &__field, &__textarea
        border 1px solid
        width 100%

.fb-multiblock
    &_has-close
        max-width: calc(100% - 40px)
        width 100%
        position relative
    &__clear
        position absolute
        right -40px
        top 19px
        display block
        width 34px
        padding 0
        border 1px solid
        min-height 20px

.v-popover.display-block>span
    display block !important

.icon-cross
    font-style normal
    &:before
        content "x"
