.time-range
    
    &__intervals
        list-style none
        padding-left 0
        margin 0
        width 75px

    
    &__button
        appearance none
        padding 0
        margin 0
        border 0
        outline 0
        display flex
        justify-content center
        align-items center
        width 100%
        
        &.is-current
            background-color green
            color white