flex-version = flex
support-for-ie = false
vendor-prefixes = official

#awes-app
    *
        box-sizing border-box

.grid__cell
    width 100%

.keycode
    &__wrap
        display flex
        margin-left -5px
        margin-right -5px
    &__ffield
        padding-left 5px
        padding-right 5px
    &__field
        width 100%

.input
    &__label
        display block
    &__field, &__textarea
        border 1px solid
        width 100%

.multi-bl
    &__has-close
        max-width: calc(100% - 40px)
        width 100%
        position relative
    &__clear
        position absolute
        right -40px
        top 24px
        display block
        width 34px
        padding 0
        border 1px solid
        min-height 20px

.fb__input_slug

    .input__field
        text-align right
        padding-right 5px

    .fb__input
        &-wrap
            display: flex

        &-inner
            flex-grow 1
            display block
            position relative

        &-domain
            color gray // replace
            width auto
            display inline-flex
            align-items center
            font-size 16px
            padding 12px 0 0 5px

.input__range
    width: 100%
    &-wrap
        display flex
    &-right
        width: 100%
        display: flex
        align-items: center

.v-popover.display-block>span
    display block !important

.icon-cross
    font-style normal
    &:before
        content "x"
